@model Disaster_Allievation_Foundation_.Models.capture_purchase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>capture_purchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisasterID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisasterID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsDonationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsDonationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryDonationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonetaryDonationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
