@model Disaster_Allievation_Foundation_.Models.disaster_allocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>disaster_allocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allocate_Disaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allocate_Disaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allocate_Money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allocate_Money)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Inventory_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
