@model Disaster_Allievation_Foundation_.Models.Allocation_Goods

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Allocation_Goods</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disaster_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disaster_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsDonation_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsDonation_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goods_Items)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goods_Items)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allocate_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allocate_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.All_GoodsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
